footer {
    background-color: #b9a919;
    color: rgb(182, 180, 93);
    text-align: center;
    padding: 20px 0;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    color: rgb(155, 224, 127);
    text-decoration: none;

